* {
  padding: 0px;
  box-sizing: border-box;
}

body {
    margin-left: 5px;
	margin-right: 5px;
	margin-top: 0px;
	margin-bottom: 0px;
    box-sizing: border-box;
    color: white;
    height: 100%;
}
/* Header/logo Title */
.headerh {
  #text-align: center;
  background-image: url(../img/tulip-yellow.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  min-height:30%;
  
  position: relative;
  #border-radius: 5px;
  padding: 20px 0 0px 0;
}

/* Increase the font size of the heading */
.header h1 {
  font-size: 40px;
}
/*////////HEADER SECTION/////////*/
/*Split the screen 50-50*/
/* Two-column layout */
.col-left {
  float: left;
  width: 30%;
  margin: auto;
  padding: 0 50px;
  margin-top: 6px;
}

.col-right {
  float: left;
  width: 70%;
  margin: auto;
  #padding: 0 50px;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 650px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 650px) {
  .col {
    width: 100%;
    margin-top: 0;
  }
}
/*////////HEADER ENDS/////////*/
/*Screen split for sidenav and body*/
/*Split the screen*/
/* Two-column layout */
.split-left {
  float: left;
  width: 10%;
  margin: auto;
}

.split-right {
  float: right;
  width: 90%;
  margin: auto;
}

/* Clear floats after the columns */
.row-split:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 650px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 650px) {
  .split-left .split-right {
    width: 100%;
    margin-top: 0;
  }
}
/*Split screen ends*/
/**Writing area**/
.main {
    -ms-flex: 70%;
    flex: 70%;
    padding: 10px 70px 30px 70px;
    font-size: 17px;
	background-color:darkcyan;
	#height:60vh;
	z-index: -1;
}
/*TIME*/
.time {
	float: right;
    margin-top: -130px;
    margin-right: 12px;
    font-weight: bold;
    font-size: large;
}
/*Notification Icon*/
.notification {
  #background-color: #555;
  color: white;
  text-decoration: none;
  #padding: 15px 26px;
  padding: 10px 10px;
  position: relative;
  display: inline-block;
  border-radius: 30px;
  #float:right;
  top: -135px;
  right: -410px;
}

.notification:hover {
  background: #AFFF33;
}

.notification .badge {
  position: absolute;
  top: -1px;
  right: -5px;
  padding: 1px 8px;
  border-radius: 50%;
  background-color: crimson;
  color: yellow;
  font-weight: bolder;
  font-size: large;
}
/**Styling paragraph**/
p {
  text-align: justify;
  text-justify: inter-word;
}
/*Footer*/
.copyright {
    padding-top: 5px;
    font-size: 15px;
    color: #838488;
    line-height: normal;
}
.footer-section {
    background: #40424a;
    padding: 7px 7px;
}
.text-center {
    text-align: center!important;
}