/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
	font-family: Tangerine
	src: url(https://fonts.googleapis.com/css?family=Tangerine');
}
@import url('https://fonts.googleapis.com/css?family=Merriweather');
@import url('https://fonts.googleapis.com/css?family=Slabo+27px');

/*//////////////////////////////////////////////////////////////////
[ Body ]*/

* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
  }

  /*Styling whole body*/
  body {
  background-image: url("https://raw.githubusercontent.com/kity9188/images/master/Big-Ballons.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;   /*Keep this background setting here only, instead of making a class */		

		  
  font-family: 'Tangerine', Arial, Courier New, Helvetica, 'Merriweather', serif, 'Slabo 27px';
  font-size: 23px;
  /*text-shadow: 4px 4px 4px #aaa;  */
	  
  margin: 0px;
}


/* -------------------- Header and Heading ------------------------- */
/* Header/logo Title */
.header {
  color: white;
  font-family: Tangerine;
}
	
/* Increase the font size of the header */
.header h1 {
  text-align: left;
  font-size: 50px;  
  }
.header h2 {
  font-size: 30px;
  text-align: center;
}
 
 /* -------- Footer -------------*/
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
}

/*----------- Avatar -------------*/
.avatar {
  display: block;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin: 0 auto;
}

/************  For side by side alignment  ***************/

/******************************************
/* In html page */
<div class="row">
    <div class="image">
    </div>
    <div class="form">
    </div>
</div>
/* In css */
.row {
    text-align : center;
}
.image, .form {
    display: inline-block;
    vertical-align: top;
}
*******************************************/
}