.sidebar {
  width: 0;
  position: fixed; /* Position them relative to the browser window */
  top: 0;
  left: 0px; /* Position them outside of the screen */
  transition: 0.3s;
  padding: 15px;
  text-decoration: none; /* Remove underline */
  font-size: 15px;
  color: white;
  background-color: #111;  
  text-align: center;
  margin-left: -30px;
  height:100%;
  z-index: 1;
  overflow-x: hidden;
  float: left;
}

.sidebar a {
  display: block;
  color: white;
  #padding: 16px;
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  transition: 0.3s;
}
 
.sidebar a.active {
  background-color: #555;
  color: white;
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  #margin-left: 50px;
}
/* .sidebar a:hover:not(.active) {
  background-color: #ddd;
  color: white;
} */
.sidebar a:hover {
  background-color: #ddd;
  color: white;
  left: 0;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

/* <div class="sidebar">
  <a class="active" href="#home">Home</a>
  <a href="#news">News</a>
  <a href="#contact">Contact</a>
  <a href="#about">About</a>
</div> */